body {
  background-color: #ececec;
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  background-color: white;
  height: 3.5vw;
  text-align: center;
  padding-top: 0.7vw;
}

h1 {
  margin: 0;
  color: #b92b27;
  font-size: 2.5vw;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.post {
  margin-left: 2vw;
  height: 12vw;
  width: 25vw;
  background-color: white;
  padding-left: 1vw;
  padding-top: 0.5vw;
  margin-top: 2vw;
  text-align: center;
  border-radius: 1vw;
}

.user {
  font-style: italic;
  font-size: 1.5vw;
  margin-top: 0.2vw;
  margin-bottom: 0.4vw;
}

.content {
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

a {
  text-decoration: none;
  color: white;
}

button {
  color: white;
  background-color: #b92b27;
  border-radius: 0.5vw;
  border: none;
  height: 2vw;
  padding: 0 1vw 0 1vw;
  font-size: 1.1vw;
}

.delete {
  text-align: center;
}
